<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inmobiliaria_.Net</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Busquedas.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="~/Inmobiliaria_.Net.styles.css" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet" />
    <!--Select2-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <!--Me traje los Script(Hay q corregir esto...)-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!--Select2-->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>

<body>
    <button class="burger" onclick="toggleMenu()"></button>
    <div class="background"></div>
    <div class="shade"></div>
    <div class="menu">
        <nav class="links">
            <a class="enlace" style="animation-delay: 0.2s" asp-controller="Home" asp-action="Index">Inicio</a>
            <a class="enlace" style="animation-delay: 0.2s" asp-controller="Inquilino"
                asp-action="ListadoInquilinos">Inquilinos</a>
            <a class="enlace" style="animation-delay: 0.2s" asp-controller="Propietario" class=""
                asp-action="ListadoPropietarios">Propietarios</a>
            <div class="enlace inmueble"><a href="#">Inmueble</a>
                <div class="submenu">
                    <ul>
                        <li><a class="subenlace" asp-controller="Inmueble" asp-action="ListadoTodosInmuebles">Todos los
                            Inmuebles</a></li>
                        <li><a class="subenlace" asp-controller="Inmueble" asp-action="ListadoInmueblesAlquilados">Inmuebles
                            Alquilados</a></li>
                        <li><a class="subenlace" asp-controller="Inmueble"
                            asp-action="ListadoInmueblesDisponibles">Inmuebles Disponibles</a></li>
                    </ul>
                </div>
            </div>
            <a class="enlace" style="animation-delay: 0.2s" asp-controller="Contrato"
                asp-action="ListadoContratos">Contratos</a>
            <a class="enlace" style="animation-delay: 0.2s" asp-controller="Pago" asp-action="ListadoPagos">Listado de
                Pagos</a>
        </nav>
    </div>
    <div class="container contmain">
        <main role="main" class="pd-3">
            @RenderBody()
        </main>
    </div>

    <script type="text/javascript">
        const toggleMenu = () => document.body.classList.toggle("open");
    </script>



    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
