@model Inmueble
@{
    ViewData["Title"] = "Editar Inmueble";
    var listaTipos = (IList<InmuebleTipo>)ViewBag.tipos;
    var listaPropietarios = (IList<Propietario>)ViewBag.propietarios;
}

<h2>Editar Inquilino</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-action="GuardarInmueble">
                <div class="form-group">
                    <label asp-for="Direccion" class="control-label">Direccion</label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Uso" class="control-label">Uso</label>
                    <select asp-for="Uso" class="form-control">
                        <option default value="Comercial">Seleccione Uso</option>
                        <option value="Comercial">Comercial</option>
                        <option value="Residencial">Residencial</option>
                    </select>
                    <span asp-validation-for="Uso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Id_tipo" class="control-label">Tipo</label>
                    <select name="Id_tipo" class="form-control" id="listTipo">
                        <option value="">Seleccionar Tipo</option>
                        @foreach (var tipo in listaTipos)
                        {
                            @:<option value="@tipo.Id_tipo">@tipo.Tipo</option>
                        }
                    </select>
                    <span asp-validation-for="Id_tipo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Cantidad_Ambientes" class="control-label">Cantidad de Ambientes</label>
                    <input asp-for="Cantidad_Ambientes" class="form-control" type="number" />
                    <span asp-validation-for="Cantidad_Ambientes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Precio_Alquiler" class="control-label">Precio</label>
                    <input asp-for="Precio_Alquiler" class="form-control" />
                    <span asp-validation-for="Precio_Alquiler" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Latitud" class="control-label">Latitud</label>
                    <input asp-for="Latitud" class="form-control" />
                    <span asp-validation-for="Latitud" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Longitud" class="control-label">Longitud</label>
                    <input asp-for="Longitud" class="form-control" />
                    <span asp-validation-for="Longitud" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Activo" class="control-label">Activo</label>
                            <div class="form-check form-switch">
                                <input asp-for="Activo" class="form-check-input" type="checkbox" id="switchActivo" />
                                <label class="form-check-label" for="switchActivo"></label>
                            </div>
                            <span asp-validation-for="Activo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Disponible" class="control-label">Disponible</label>
                            <div class="form-check form-switch">
                                <input asp-for="Disponible" class="form-check-input" type="checkbox"
                                    id="switchDisponible" />
                                <label class="form-check-label" for="switchDisponible"></label>
                            </div>
                            <span asp-validation-for="Disponible" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Id_propietario" class="control-label">Propietario</label>
                    <select name="Id_propietario" class="form-control" id="listPropietario">
                        <option value="">Seleccionar Propietario</option>
                        @foreach (var propietario in listaPropietarios)
                        {
                            @:<option value="@propietario.Id_Propietario">@propietario.Nombre</option>
                        }
                    </select>
                    <span asp-validation-for="Id_propietario" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                    <a asp-action="ListadoInmuebles" class="btn btn-primary">Volver</a>
                </div>
            </form>
        </div>
    </div>
</div>